html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: initial;
  padding: initial;
  margin-block-start: initial;
  margin-block-end: initial;
  margin-inline-start: initial;
  margin-inline-end: initial;
}
